@import '@/styles/color.less';


body {
    background-color: @light-gray;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: @light-gray;

    .m-container {
        display: none;
    }

    .web-container {
        padding: 3rem;
        
    }

    .logo {
        display: inline-block;
        height: 50px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        img {
            height: 100%;
        }
    }

    .copyright {
        text-align: center;
        margin-top: 1rem;
        font-weight: 700;

    }


    .web-main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        // height: 100%;
        margin: auto;
        box-shadow: 3px 3px 8px rgba(0,0,0, 0.1);
        border-radius: 2rem;
        
        .card {
            cursor: pointer;
            text-align: center;
            transition: 0.3s ease-out;
            background-color: @white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 350px;


            .icon{
                width: 7rem;
                flex-shrink: 0;

                img {
                    width: 100%;
                }

                .img-default {
                    display: block;
                }
                .img-hover {
                    display: none;
                }
            }

            .heading {
                font-size: 25px;
                font-weight: 500;
            }

            .desc {

                padding: 0 2.3rem;
                text-align: center;
                font-size: 0.8rem;
                line-height: 1.5rem;
                display: none;
            }

            &:hover {
                color: @white;
                z-index:1;
                transform: scale(1.1);
                box-shadow: 2px 2px 17px rgba(0,0,0, 0.2);
                border-radius: 2rem;

                transition: 0.2s ease-in;

                .icon {
                    width: 9rem;

                    .img-default {
                        display: none;
                    }
                    .img-hover {
                        display: block;
                    }
                }
                
                .heading {
                    font-size: 30px;
                    font-weight: 700;
                }
                .desc {
                    display: block;
                    margin-top: 1rem;
                }
            }
        }

        & > div:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 5;

            border-top-left-radius: 2rem;
            color: @blue;
            
            &:hover {
                background-color: @blue;
            }
        }
        & > div:nth-child(2) {
            grid-column-start: 5;
            grid-column-end: 9;

            border-left: 0;
            color: @light-blue;


            &:hover {
                background-color: @light-blue;
            }
            
        }
        & > div:nth-child(3) {
            grid-column-start: 9;
            grid-column-end: 13;

            border-top-right-radius: 2rem;

            color: @olive;
            &:hover {
                background-color: @olive;
            }
        }
        & > div:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;

            border-bottom-left-radius: 2rem;
            color: @lemon;

            &:hover {
                background-color: @lemon;
            }
        }
        & > div:nth-child(5) {
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 2;
            grid-row-end: 3;

            color: @chocolate;

            &:hover {
                background-color: @chocolate;
            }
        }
        & > div:nth-child(6) {
            grid-column-start: 9;
            grid-column-end: 13;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom-right-radius: 2rem;

            color: @orange;

            &:hover {
                background-color: @orange;
            }
        }
        
    }

}

@media (max-width: 1060px) {
    .wrapper {
        // padding: 1.2rem;
        height: unset;
    
        .web-container {
            display: none;
        }

        .m-container {
            padding: 1.2rem;
            display: block;
        }

        .logo {
            height: 35px;
        }

        .copyright {
            text-align: center;
        }

        .m-main {
            // display: block;
            
            .card {
                cursor: pointer;
                background-color: @white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                

                border-bottom: 1px solid @light-gray;
                padding: 2rem 2rem;
            }

            & > div:first-child {
                border-radius: 2rem 2em 0 0!important;
            }
            & > div:last-child {
                border-radius: 0 0 2rem 2em!important;
            }

            & > div:nth-child(1) {
                color: @blue!important;
            }
            & > div:nth-child(2) {
                color: @light-blue!important;
            }
            & > div:nth-child(3) {
                color: @olive!important;
            }
            & > div:nth-child(4) {
                color: @lemon!important;
            }
            & > div:nth-child(5) {
                color: @chocolate!important;
            }
            & > div:nth-child(6) {
                color: @orange!important;
            }

            .card {
                display: flex;    
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                

                .icon {
                    margin-right: 2rem;

                    img {
                        width: unset;
                    }
                }

                .content {
                    text-align: left;

                    & > div {text-align: left; padding: 0;}

                    .heading {

                    }
                    .desc {
                        display: block;
                        color: @secondary!important;
                    }
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .wrapper {
        .m-main {
            & > div {
                padding: 1rem;
            }

            .card {
                .icon {
                    width: 60px;
                    margin-right: 0.6rem;
                    img {
                        width: 100%;
                    }
                }
                .heading {
                    font-size: 1.4rem;
                }
                .desc {
                    font-size: 12px;
                    line-height: 1.2rem;
                }
            }
        }

        .copyright {
            font-size: 13px;
            font-weight: 400;
        }
    }
}